*{margin:0px;padding:0px}

body{
    font-family: 'Benne', serif;
    max-width: 2000px;
    background:black;
}

/*-Pagina-*/
.pagina{
    width:80%;
    margin:auto;
    
    
}

/*-header-*/
.header{
    background:rgb(133, 106, 106);
    color:black;
    padding:5px;
    border-radius:20px 20px 0px 0px ;
    
    
    
}
/*-section-*/
.section{
    text-align: center;
    background: rgb(19, 18, 18);
    border: 1px solid rgb(253, 253, 253);
    
}

.section .nombre{
    color:white;
    font-size: 30px;
    text-align: center;
}

/*-Section datos -*/
h2{
    color:rgb(190, 202, 12);
}
.section .listaDatos{
    color:white;
    font-size:20px;
    
}
.section .listaDatos ul{
    list-style:none;
}

/*-section perfil -*/
.section .perfil{
color:white;
font-size:20px;
}

/*-footer-*/
.pagina .footer {
    background:rgb(0, 0, 0);
    
}
.pagina .footer h2{
    color:rgb(255, 255, 255);
}

.pagina .footer a{
    text-decoration: none;
}
/*-Formulario-*/

.formulario{
    color:white;
    background:rgb(7, 7, 7);
    text-align: center;
    padding: 50px;
    width:50%;
    margin:100px auto;
    border-radius:5px;
}
.formulario form{
    font-size:20px;
    font-weight: bold;
    padding: 5px;
    
}
.formulario form .edad{
    width:100px;
    text-align: center;
    font-size:20px;
    font-weight: bold;
}
.formulario form input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    
}
.formulario form .enviar{
    border-radius:5px;
    margin:20px;
    background: black;
    color:white;
    border:none;
    font-size:20px;
    cursor: pointer;
}